

body {
  background-color: #636363;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

.header h1 {
  padding: 10px 0;
  display: block;
}

.main-page {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
  height: 92vh;
  margin: -10px;
}

.activity-container h1 {
  padding-left: 5%;
  color: darkgray;
  font-size: 28px;
  margin: 18px 0 9px 0;
}

.past-activities-container h1 {
  padding-left: 30px;
  color: darkgray;
  font-size: 28px;
}


.activity-container {
  font-size: large;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #1e292a;
}

.inner-activity-container{
  background-color: #636363;
  width: 90%;
  margin: auto;
  height: 85%;
  border-radius: 3px;
  align-content: center;
}

.button-image {
  height: 16px;
  width: 16px;
  filter: brightness(0) invert(1);
}

.inner-activity-container label {
  padding: 0 0 10px 0;
}

.inner-activity-container input {
  padding: 28px 0 0 0;
  font-size: large;
}

.inner-activity-container  button {
  padding: 10px 25px;
  margin: 10px 7% 10%;
  width: 120px;
  border: white solid 3px;
  background-color: #636363;
  color: white;
  border-radius: 3px;
}

.centered-div {
  margin: 10px auto 0px;
  padding: 20px 0;
  width: 80%;
}

.inner-activity-container input {
  background-color: #636363;
  border: 0;
  border-bottom: 1px white solid;
}

.inline {
  display: inline-block;
  width: 48%;
  margin: 10% 0 5%;
}

.short-input {
  width: 80%;
}

.type-buttons {
  padding: 2% 0 0 0;
}

.goal-statement {
  padding: 10% 0;
}

label {
  margin: 0 0 20px 0;
}

#study-button {
  margin-left: 0;
}

#to-accomplish {
  width: 87%;
}

#start {
  padding: 5px 20px;
  background-color: white;
  color: black;
  border-radius: 3px;
  display: block;
  width: 150px;
  float: right;
  margin: 15% 15% 0 0;
}

.past-activities-container {
  background-color: #1e292a;
  color: darkgray;
}

.past-activities-container p {
  text-align: center;
}